@charset 'utf-8';
* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
a{
    color: #e67739 !important;
    text-decoration: none !important;
}
i{
    color: #f0ae3c;
}
body{

    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
}
/*  para o HTML ter para rolagem suave */
html{
    scroll-behavior: smooth;
}

#geral {
    width: 100%;
    height: 500%;
    position: absolute;
}

#tela1,#tela2,#tela3,#tela4{
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

#topo{
    width: 100%;
    height: 15%;
    background-color:#e67739;
    position: fixed;
    top: 0;
    z-index: 91;
}
#menu{
    width: 60%;
    height: 50%;
    background-color: white;
    transform: skew(-30deg);
    float: right;
    margin-top: 6%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 7px;

}
#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: #e67739;
    font-family: sans-serif;
    font-size: 3vmin;
    
}
#menu ul li{
    text-shadow: 0px 0px 2px #999;
    transition: 0.2s;
}
#menu ul li:hover{
    text-shadow: none;
    transform: scale(1.5);
}

#conteudo-inicial{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}

#texto-inicial{
    width: 60%;
    height: 20%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 7px;
    box-shadow: 0px 0px 10px #e98338;
    padding: 3%;
}
#texto-inicial h1{
    font-size: 5vmin;
    color: #e67739;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px #000;
    text-align: center;
}
#texto-inicial p{
    font-size: 3vmin;
    color: #e67739;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px #000;
    text-align: center;
}


#tela2, #tela3{
    background-color:rgba(237, 125, 49,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}


#texto-tela2e3{
    width: 55%;
    height: 60%;
    background-color: rgba(255,255,255,0.3);
}
#texto-tela2e3 h2{
    font-size: 4vmin;
    color: #e67739;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px #000;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}
#texto-tela2e3 p{
    font-size: 3vmin;
    color: rgb(104, 72, 51);
    font-family: sans-serif;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: justify;
    padding: 0 5%;
}




#tela4{
    background-color: rgba(59, 55, 55,0.7);
    display: flex;
}


#Formulario{
    width: 90%;
    height: 100%;
    color: white;
}
#Formulario form{
    width: 100%;
    height: 100%;
}
#Formulario form input{
    border-radius: 5px;
    height: 20px;
    border:none;
    background-color: white;
    
}
.campo{
    width: 60%;
}
.campo2{
    width: 51%;
    
}
/* Estilo para o fieldset dentro do formulário */
#Formulario form fieldset:nth-child(1){
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#f-dados-pessoais{
    width: 90%;
    height: 30%;
    margin-bottom: 0 !important;
}




fieldset{
    border-radius: 10px;
    box-shadow: 0px 0px 3px #fff;
    border: none;
}

#Formulario form fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1%;
}
#Formulario form fieldset .btn{
    width: 23%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
#Formulario form fieldset #anexar{
    width: 50%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}


